state-machine.asl.json
{
    "StartAt": "Parallel Donation and Census Processing",
    "States": {
      "Parallel Donation and Census Processing": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "clean_and_combine_donations",
            "States": {
              "clean_and_combine_donations": {
                "Type": "Task",
                "Resource": "${CleanAndCombineDonationsArn}",
                "OutputPath": "$.Payload",
                "Parameters": {
                  "Payload.$": "$"
                },
                "Next": "add_province_donation"
              },
              "add_province_donation": {
                "Type": "Task",
                "Resource": "${AddProvinceDonationArn}",
                "OutputPath": "$.Payload",
                "Parameters": {
                  "Payload.$": "$"
                },
                "Next": "donations_to_DB"
              },
              "donations_to_DB": {
                "Type": "Task",
                "Resource": "${DonationsToDBArn}",
                "OutputPath": "$.Payload",
                "Parameters": {
                  "Payload.$": "$"
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "clean_census",
            "States": {
              "clean_census": {
                "Type": "Task",
                "Resource": "${CleanCensusArn}",
                "OutputPath": "$.Payload",
                "Parameters": {
                  "Payload.$": "$"
                },
                "Next": "Parallel"
              },
              "Parallel": {
                "Type": "Parallel",
                "Branches": [
                  {
                    "StartAt": "map_headers_and_populations",
                    "States": {
                      "map_headers_and_populations": {
                        "Type": "Task",
                        "Resource": "${MapHeadersPopulationsArn}",
                        "OutputPath": "$.Payload",
                        "Parameters": {
                          "Payload.$": "$"
                        },
                        "End": true
                      }
                    }
                  },
                  {
                    "StartAt": "add_province_census",
                    "States": {
                      "add_province_census": {
                        "Type": "Task",
                        "Resource": "${AddProvinceCensusArn}",
                        "OutputPath": "$.Payload",
                        "Parameters": {
                          "Payload.$": "$"
                        },
                        "End": true
                      }
                    }
                  }
                ],
                "Next": "join_populations_and_census"
              },
              "join_populations_and_census": {
                "Type": "Task",
                "Resource": "${JoinPopulationsCensusArn}",
                "OutputPath": "$.Payload",
                "Parameters": {
                  "Payload.$": "$"
                },
                "Next": "calculate_percent"
              },
              "calculate_percent": {
                "Type": "Task",
                "Resource": "${CalculatePercentArn}",
                "OutputPath": "$.Payload",
                "Parameters": {
                  "Payload.$": "$"
                },
                "Next": "census_to_DB"
              },
              "census_to_DB": {
                "Type": "Task",
                "Resource": "${CensusToDBArn}",
                "OutputPath": "$.Payload",
                "Parameters": {
                  "Payload.$": "$"
                },
                "End": true
              }
            }
          }
        ],
        "Next": "clean_up_s3"
      },
      "clean_up_s3": {
        "Type": "Task",
        "Resource": "${CleanUpS3Arn}",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$"
        },
        "End": true
      }
    }
  }
